header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 4%;
  z-index:3;
}
.nav-item {
  line-height: 8.5;
}
.nav-item.brand {
  line-height: inherit;
  padding: 0 6%;
}
.navbar-nav.nav .nav-link {
  color: #fff3dd;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #fff3dd;
}
.nav-link span:focus,
.nav-link span:active,
.nav-link span:hover {
  border-bottom: 1px solid #fff3dd;
  color: #fff3dd;
}
.navbar-brand {
  background: #d69c52;
  border: 4px solid white;
  border-radius: 50%;
  padding: 52px 8px;
  font-size: 1.25rem;
  font-family: fantasy;
  letter-spacing: 0;
  background-image: url(../assets/chai-top.png);
  background-size: 113%;
  background-repeat: no-repeat;
  background-position: -11px;
}
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto!important;
  z-index: -1000;
  overflow: hidden;
}
.vid-overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}
.hero-txt {
  text-align: center;
  font-size: 4rem;
  color: white;
  bottom: 25%;
  position: absolute;
  left: 0;
  right: 0;
}
.scroll {
  position: absolute;
  color: #bb7b28;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 40px;
}
@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
  }
  100% {
    transform: scale(1.3);
  }
}

.scroll {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

/*
  is the same as:
*/

.scroll {
  animation: 
    stretch
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}

.small-caps {
  font-variant: small-caps;
}
.bg-f7f7f7 {
  background: #f7f7f7;
}
.font-size-108px {
  font-size: 108px;
}
.text-ca7b49 {
  color: #ca7b49;
}
.text-9f9d93 {
  color: #9f9d93;
}
.text-3eb51a {
  color: #3eb51a;
}
.text-e67686 {
  color: #e67686;
}
.text-748ffc {
  color: #748ffc;
}
.text-black {
  color: #000000 !important;
}
.text-decoration-none {
  text-decoration: none;
  &:hover {
      text-decoration: none;
  }
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-500 {
  font-weight: 500;
}
section {
  .product-image {
    max-width: 100%;
    height: auto;
  }
}

.bordery-double {
 border-bottom: 5px double #ccc;
 border-top: 5px double #ccc;
}

.bg-fff9f0 {
  background-color: #fff9f0;
}

.menu-bottom-image {
  background-image: url("../assets/stock-chai.png");
  background-repeat: repeat-x;
  background-size: 30px;
  height: 38px;
}
.testimonials-queue-image {
  background-image: url("../assets/people-queue.png");
  background-repeat: repeat-x;
  background-size: 30px;
  height: 38px;
}
.testimonials-cart-image {
  background-image: url("../assets/chai-pani.png");
  background-repeat: no-repeat;
  background-size: 30px;
  height: 38px;
}
.packaging-image {
  background-image: url("../assets/bcup.png");
  background-repeat: no-repeat;
}
.location-image {
  background-image: url("../assets/snazzy-image-2.png");
  background-repeat: no-repeat;
//  min-height: 640px;
  background-size: 100%;
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
    opacity: 0.8;
    font-weight: 600;
  }
}

.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.bg-header {
  background: #a95f00;
}
.bg-product {
  background: #ffcf1e;
 }
.border-1 {
  border: 1px solid #ccc;
}
.border-bottom-1 {
  border-bottom: 1px solid #ccc;
}
.border-4-double-white {
  border-bottom: 6px double #fff;
}
.border-4-double {
  border-bottom: 4px double #ccc;
}
.border-radius-2 {
  border-radius: 2px;
}
.line-height-2 {
  line-height: 2;
}
.letter-spacing-4 {
  letter-spacing: 0.4px;
}
.va-middle {
  top: 50%;
  margin: auto;
  left: 50%;
  margin-top: -12.5%;
  margin-left: -31.5%;
}
.footer-social {
  font-size: 36px;
}
.text-fb {
  color: #3b5999;
}
.text-pinterest {
  color: #bd081c;
}
.text-instagram {
  color: #e4405f;
}
.text-twitter {
  color: #55acee;
}
.border-top-1px {
  border-top: 1px solid #ccc;
}
.circle {
  border-radius: 50%;
}
.product-wrapper {
  border-radius: 2px;
  &:hover {
    background: #ffcf1e !important;
    transition: background 300ms;
    text-decoration: none;
  }
}
/**
 * Component styles
 */
.progress-meter {
  padding: 40px;
}

.progress-meter {
  counter-reset: point;
}
//.progress-meter .progress-point:before {
//  -moz-transition: all 1s;
//  -o-transition: all 1s;
//  -webkit-transition: all 1s;
//  transition: all 1s;
//  -moz-border-radius: 24px;
//  -webkit-border-radius: 24px;
//  border-radius: 24px;
//  -moz-box-shadow: 0 0 0 2px white;
//  -webkit-box-shadow: 0 0 0 2px white;
//  box-shadow: 0 0 0 2px white;
//  content: "\2713";
//  display: block;
//  width: 28px;
//  margin: 0 auto 12px;
//  border: 4px solid #aaaaaa;
//  text-align: center;
//  background-color: white;
//  color: white;
//}
.progress-meter .track {
  position: relative;
  height: 4px;
  background: #ddd;
  top: 73px;
}
.progress-meter .progress {
  -moz-transition: width 8s;
  -o-transition: width 8s;
  -webkit-transition: width 8s;
  transition: width 8s;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background: red;
}
.progress-meter .progress-points {
  position: relative;
  margin: -14px 0 0;
  padding: 0;
  list-style: none;
  height: 230px;
}
.progress-meter .progress-points .progress-point:nth-child(1) {
  left: 0%;
}
.progress-meter .progress-points .progress-point:nth-child(2) {
  left: 33%;
}
.progress-meter .progress-points .progress-point:nth-child(3) {
  left: 66%;
}
.progress-meter .progress-points .progress-point:nth-child(4) {
  left: 100%;
}

.progress-meter .progress-point {
//  -moz-transition: color 1s;
//  -o-transition: color 1s;
//  -webkit-transition: color 1s;
//  transition: color 1s;
  position: absolute;
  display: block;
  width: 200px;
  margin-left: -50px;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.progress-meter .progress-point.completed, .progress-meter .progress-point.active {
  color: #777;
}
//.progress-meter .progress-point.completed:before {
////  border-color: #777;
////  background-color: #777;
//  border-color: #e4d4d4;
//  background-color: #ff0000;
//}

.progress-point .fa-coffee,
.progress-point .fa-shopping-cart,
.progress-point .fa-shopping-bag,
.progress-point .fa-child {
  padding: 40px;
  border-radius: 50%;
  color: #9f9d93;
  transition: background 500ms, color 500ms;
  background: #fbfbfb;
  width: 1em;
  
}
.progress-point .fa-child {
  padding: 40px 54px;
}
.progress-point.completed .fa-coffee {
  color: #ca7b49;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  background: #f7f7f7;
  
}
.progress-point.completed .fa-shopping-cart {
  color: #3eb51a;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
  background: #f7f7f7;
  
}
.progress-point.completed .fa-shopping-bag {
  color: #e67686;
  -moz-transition-delay: 3s;
  -o-transition-delay: 3s;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
  background: #f7f7f7;
  
}
.progress-point.completed .fa-child {
  color: #748ffc;
  -moz-transition-delay: 6s;
  -o-transition-delay: 6s;
  -webkit-transition-delay: 6s;
  transition-delay: 6s;
  background: #f7f7f7;
  
}
//.progress-meter .progress-point.active:before {
//  -moz-transition-delay: 1s;
//  -o-transition-delay: 1s;
//  -webkit-transition-delay: 1s;
//  transition-delay: 1s;
//  border-color: #777;
//}
.progress-meter .progress-point .label:before {
  counter-increment: point;
  content: counter(point) ". ";
  /* Display the counter */
}

/**
 * Demo controls 
 */
.controls {
  text-align: center;
  font-size: 12px;
}

.trigger {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 8px;
  border: none;
  font: 14px inherit;
  text-shadow: 0px 1px 1px rgba(251, 251, 251, 0.75);
  color: #626262;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #959595));
  background-image: -moz-linear-gradient(#bbbbbb, #959595);
  background-image: -webkit-linear-gradient(#bbbbbb, #959595);
  background-image: linear-gradient(#bbbbbb, #959595);
}

@media (max-width: 992px) {
  .nav-item {
      line-height: 24px;
  }
}