header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1% 4%;
  z-index:3;
}
.nav-item {
  line-height: 8.5;
}
.nav-item.brand {
  line-height: inherit;
  padding: 0 6%;
}
.nav-link {
  color: #fff3dd;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: #fff3dd;
}
.nav-link span:focus,
.nav-link span:active,
.nav-link span:hover {
  border-bottom: 1px solid #fff3dd;
  color: #fff3dd;
}
.navbar-brand {
  background: #a5845a;
  border: 4px solid white;
  border-radius: 50%;
  padding: 52px 8px;
  font-size: 1.25rem;
  font-family: fantasy;
  letter-spacing: 0;
}
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto!important;
  z-index: -1000;
  overflow: hidden;
}
.vid-overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}
.hero-txt {
  text-align: center;
  font-size: 4rem;
  color: white;
  bottom: 25%;
  position: absolute;
  left: 0;
  right: 0;
}
.scroll {
  position: absolute;
  color: #bb7b28;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 40px;
}
@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
  }
  100% {
    transform: scale(1.3);
  }
}

.scroll {
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
}

/*
  is the same as:
*/

.scroll {
  animation: 
    stretch
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}